# AGENDA
1. Variable Case senstivity
2. Reserved words in Python
3. Multi assignment of variables
4. User input
5. type casting | type conversion 
6. Memory block 
7. Operators
  - Logical
  - Equality
  - Comparision
  - Arthimatic
  - Bitwise 
  - Operators for sets and dictionary 

8. String methods

## Variable Case senstivity

In [3]:
TEN = 10
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter

In [4]:
print(Ten)

NameError: name 'Ten' is not defined

In [5]:
TEN

10

### Reserved words in Python

1. We should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names

In [6]:
print("Hi there")

Hi there

In [7]:
print = "Hi there" # as a variable
type(print)

str

In [8]:
print("Hi there")

TypeError: 'str' object is not callable

In [9]:
print = 12 # as a variable
type(print)

int

In [10]:
print("Hi there")

TypeError: 'int' object is not callable

In [11]:
del print # delete the variable print

In [12]:
print("Hi there")

Hi there

In [13]:
print = 10

In [14]:
type(print)

int

In [15]:
del print

In [16]:
print("kirti")

kirti

## Multi assignment of variables

In [17]:
a, b, c, yes = 10, 20.2, "kirti", True

In [18]:
type(a)

int

In [19]:
type(b)

float

In [20]:
type(c)

str

In [21]:
type(yes)

bool

In [22]:
print(type(a))
print(type(b))
print(type(c))
print(type(yes))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [23]:
a, A, c, C = 10, 20.2, "Sunny", True

In [24]:
print(a, A, c, C)

10 20.2 Sunny True

In [25]:
a=b=c=10

In [26]:
a,b,c

(10, 10, 10)

In [27]:
firstName, middleName, sirName = "Kirti", "Popat", "Wagh"

In [28]:
print(f"{firstName}.{sirName}@gmail.com")

Kirti.Wagh@gmail.com

In [29]:
name, place, year_of_birth, weight = "kirti", "Maharashtra", "2001", 50.0

In [30]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My weight is: {weight} in Kgs
""")

My name is: kirti
I live at: Maharashtra
I was born in: 2001
My weight is: 50.0 in Kgs

In [31]:
name = input("Enter your Name: ")

print(f"You have entered: {name}")

Enter your Name: kirti
You have entered: kirti

In [32]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"Sum of A and B is: {A+B}")

Enter value of A: 2
Enter value of B: 3
Sum of A and B is: 23

In [33]:
print("Sum of A and B is: {A+B}")

Sum of A and B is: {A+B}

In [34]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(type(A), type(B))

Enter value of A: 25
Enter value of B: 2
<class 'str'> <class 'str'>

In [35]:
name = input("Name: ")
place = input("place: ")
year_of_birth = input("year_of_birth: ")

Name: Kirti
place: Ahmednagar
year_of_birth: 2001

In [36]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
""")

My name is: Kirti
I live at: Ahmednagar
I was born in: 2001

## Type conversion

We can convert the data type of one variable into another if it is allowed

In [37]:
A = float(input("Enter value of A: "))
B = float(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 2
Enter value of B: 4
Sum of A and B is: 6.0

In [39]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 52
Enter value of B: 5
Sum of A and B is: 57.0

In [40]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 2
Enter value of B: 2
Sum of A and B is: 4.0

In [41]:
# String to integer
A = "50"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50
data type after: <class 'int'>, value of A: 50

In [42]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: invalid literal for int() with base 10: '50.22'

In [43]:
# float to integer
A = 50.22
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.22
data type after: <class 'int'>, value of A: 50

In [44]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [45]:
# integer to boolean
A = 10
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 10
data type after: <class 'bool'>, value of A: True

* True in binary - 1
* False in binary - 0

In [46]:
# integer to boolean
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

In [47]:
# integer to boolean
A = 1
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 1
data type after: <class 'bool'>, value of A: True

> NOTE: Converting any non zero number and string values into boolean will give True as an answer

> NOTE: Empty string "" will give False as an answer after converting from string to boolean

In [48]:
# integer to boolean
A = -5
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -5
data type after: <class 'bool'>, value of A: True

In [49]:
# string to boolean
A = "Sunny"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: Sunny
data type after: <class 'bool'>, value of A: True

In [50]:
# string to boolean
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [51]:
# string to boolean
A = "False"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: False
data type after: <class 'bool'>, value of A: True

In [52]:
# empty string to boolean
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [53]:
# empty string to boolean
A = " "
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: True

In [54]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ''

## Memory block

In [55]:
a = 22
b = 34
c = 22

In [56]:
id(a) # memory address

2926387489744

In [57]:
id(b)

2926387490128

In [58]:
id(c)

2926387489744

In [59]:
c = 22 + b

In [60]:
id(c)

2926387679312

In [61]:
a = 22
id(a)

2926387489744

In [62]:
a = 99
id(a)

2926387680688

Memory is assigned to the value of variable passed not the variable name

In [63]:
a = "Sunny"
b = 34
c = "Sunny"

print(id(a), id(b), id(c))

2926469460976 2926387490128 2926469460976

In [64]:
a = "S"
b = 34
c = "S"

print(id(a), id(b), id(c))

2926393439664 2926387490128 2926393439664

In [65]:
a = 22
b = 34
c = 22.0

print(id(a), id(b), id(c))

2926387489744 2926387490128 2926468476144

In [66]:
name = input("Name: ")
YOB = int(input("YOB: ")) # string

age = 2022 - YOB
print(age)

Name: Kirti
YOB: 2001
21

In [67]:
round(25.88 + 10, 2)

35.88

In [68]:
25.89 + 10

35.89