In [1]:
##Arithmetic Operators
A=22
B=23

In [2]:
A//B    #ans in integer format

0

In [3]:
A+B

45

In [4]:
A-B

-1

In [5]:
A/B

0.9565217391304348

In [6]:
A//B

0

In [7]:
A%B

22

In [8]:
A = 5
B = 2
A//B

2

In [9]:
A%B

1

In [10]:
A = 55
B=2
if A%B == 0:
    print(f"A: {A} is divisible by B: {B}")
else:
    print(f"A:{A} is not divible ny B: {B}")

A:55 is not divible ny B: 2

In [11]:
A =4
A**(1/2)

2.0

In [12]:
# string Methods

name = "Sunny"

name[1]

'u'

In [13]:
name[4]

'y'

In [14]:
name[-5]

'S'

In [15]:
# String slicing
#       01234
#       -5-4-3-2-1
name = "Sunny"

name[1:] # [starting: ending]

'unny'

In [16]:
name[1:3] # This means that ending is excluded

'un'

In [17]:
name[-4:-1]

'unn'

In [18]:
# index 0123456789
date = "08/10/2022"

# today's date, Month and year

today_s_date = date[0:2]
month = date[3:5]
year = date[6:]

print(f"its {today_s_date}th of the month: {month} of the year: {year}")

its 08th of the month: 10 of the year: 2022

In [19]:
# index 0123456789
data = input("enter date of birth in the format DD/MM/YYYY: ")

# today's date, Month and year

date = data[0:2]
month = data[3:5]
year = data[6:]

print(f"The user was born in the month of {month} in the year: {year} on date: {date}")

enter date of birth in the format DD/MM/YYYY: 09/02/2001
The user was born in the month of 02 in the year: 2001 on date: 09

In [20]:
name = "Sunny" 

name[0:5:2] # start: ending: step

'Sny'

In [21]:
name[0::2] # start: ending: step

'Sny'

In [22]:
name = "Kirti Popat Wagh"

name[0::2]

'KriPptWg'

In [23]:
name = "Kirti Popat Wagh"
name[0:2:3]

'K'

In [24]:
name = "Kirti Popat Wagh"
name[::-1]

'hgaW tapoP itriK'

In [25]:
name = "Kirti Popat Wagh"
name[::-2]

'ha ao ti'

In [26]:
data=input("input a string:")
reverse=data[::-1]
print(data,reverse)

input a string:radar
radar radar

In [27]:
data = input("input a string: ")
reverse = data[::-1] 

if data == reverse:
  print(f"input string: {data} is palindrome")
else:
  print(f"input string: {data} is NOT a palindrome")

input a string: mom
input string: mom is palindrome

Mutability
Mutable means subject to change or which can be changed

In [29]:
name = "Sunny"

# Replace S with F?

name[0] = "F" # immutablility  # String

TypeError: 'str' object does not support item assignment

In [30]:
name = name.replace("y", "YYY")
name

'SunnYYY'

In [31]:
name = "F" + name[1:]

name

'FunnYYY'

In [32]:
name= "Kirti POpat Wagh"
name=name.replace("O","o")
name

'Kirti Popat Wagh'

In [33]:
name=name.replace(" ","_")
name

'Kirti_Popat_Wagh'

In [34]:
len(name)

16

In [35]:
len("Kirti")

5

In [36]:
name="Kirti    "

In [37]:
name=name.replace(" ","")
name

'Kirti'

## String indexing
## String slicing
## String skipping
## String reversal
## String replace method
## length of the string
## String is immutable because we cannot directly assign any value using indexing

In [38]:
name[5:-5]

''

In [39]:
#count specific character
name.count("i")

2

In [40]:
#SPlit Operation
name= "Kirti Popat Wagh"
name.split(" ")

['Kirti', 'Popat', 'Wagh']

In [41]:
first_name, middle_name, sir_name = name.split(" ")

print(f"""
First name: {first_name}
Middle name: {middle_name}
Sir name: {sir_name}
""")

First name: Kirti
Middle name: Popat
Sir name: Wagh

In [43]:
                             
data = input("enter date of birth in the format DD/MMM/YYYY: ")

# today's date, Month and year

date, month, year = data.split("/")

print(f"The user was born in the month of {month} in the year: {year} on date: {date}")

enter date of birth in the format DD/MMM/YYYY: 09/02/2001
The user was born in the month of 02 in the year: 2001 on date: 09

In [44]:
data.split("/")

['09', '02', '2001']

In [45]:
data = input("enter date of birth in the format DD/MMM/YYYY: ")
data.split("/")

enter date of birth in the format DD/MMM/YYYY: 09/02/2001

['09', '02', '2001']

In [46]:
A,B,C=data.split("/")
print(A,B,C)

09 02 2001

In [47]:
name= "Kirti Popat Wagh"
name.split("_")

['Kirti Popat Wagh']

In [48]:
name.split("a")

['Kirti Pop', 't W', 'gh']

In [49]:
name.lower()

'kirti popat wagh'

In [50]:
name.upper()

'KIRTI POPAT WAGH'

In [51]:
name=input("Enter your name:")
print(f"user input: {name}")
print(f"name in upper case: {name.upper()}")
print(f"name in lower case: {name.lower()}")
print(f"name in title case: {name.title()}") 
print(f"name in capitalize case: {name.capitalize()}")
print(f"name in swapcase case: {name.swapcase()}")

Enter your name:Kirti Wagh
user input: Kirti Wagh
name in upper case: KIRTI WAGH
name in lower case: kirti wagh
name in title case: Kirti Wagh
name in capitalize case: Kirti wagh
name in swapcase case: kIRTI wAGH

In [52]:
name="Kirti POpat Wagh"
"_".join(name)

'K_i_r_t_i_ _P_O_p_a_t_ _W_a_g_h'

In [53]:
"|".join(name)

'K|i|r|t|i| |P|O|p|a|t| |W|a|g|h'

In [54]:
"".join(reversed(name))

'hgaW tapOP itriK'

In [57]:
name=" Kirti    "
name.strip(" ")

'Kirti'

In [58]:
name=" Kirti    "
name.rstrip(" ")

' Kirti'

In [59]:
name=" Kirti    "
name.lstrip(" ")

'Kirti    '

In [60]:
name = "==Kirti Popat Wagh===="

name.strip("=")

'Kirti Popat Wagh'

In [61]:
#Formating
name="Kirti"
name.center(20, "#")

'#######Kirti########'

In [62]:
name.center(10,"*")

'**Kirti***'

In [63]:
name="KIRTI"
name.isupper()

True

In [65]:
name="Kirti"
name.islower()

False

In [66]:
name.istitle()

True

In [67]:
name=input("enter your name:")
print(f"user input:{name}")
if name.istitle():
    print(f"user has correct input")
else:
    print(f"useer has autocorrect it:")
    name=name.istitle()
    print(f"correct title:{name}")

enter your name:Kirti
user input:Kirti
user has correct input

In [69]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
  print(f"user has given correct input")
elif name.isspace():
  print(f"Wrong input please try again!!")
else:
  print(f"wrong input we need to autocorrect it")
  name = name.title()
  print(f"Correct output: {name}")

Enter your name: KKKirti  LPof WAf
user input: KKKirti  LPof WAf
wrong input we need to autocorrect it
Correct output: Kkkirti  Lpof Waf

In [70]:
phone_number = "914511333333"
phone_number.isdigit()

True

In [71]:
phone_number = "914511333kkkk3"
phone_number.isdigit()

False

In [84]:
len(phone_number)==13

True

In [85]:
phone_number = "+910000000000"

phone_number.count("0")

10

In [72]:
phone_number = input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number) == 10:
  print(f"user input is correct")
else:
  print("invalid input")

Enter your phone no: 5452648512
user input is correct

In [73]:
phone_number = input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number) == 10:
  print(f"user input is correct")
else:
  print("invalid input")

Enter your phone no: 1234568900000
invalid input

In [74]:
phone_number = input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number) == 10 and phone_number != "0000000000":
  print(f"user input is correct")
else:
  print("invalid input")

Enter your phone no: 0000000000
invalid input

In [76]:
phone_number.startswith("0")

True

In [77]:
phone_number.endswith("0")

True

In [78]:
phone_number = input("Enter your Indian phone no: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number)==13:
  print(f"user input is correct")
else:
  print("invalid input")

Enter your Indian phone no: 9657851212
invalid input

In [79]:
phone_number = input("Enter your Indian phone no: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number)==13:
  print(f"user input is correct")
else:
  print("invalid input")

Enter your Indian phone no: +919657828551
user input is correct

In [80]:
PAN_NUMBERS = "KIOPNHGU32L"
PAN_NUMBERS.isalnum() # Check for alpha numeric case

True

In [81]:
PAN_NUMBERS = "789789789"
PAN_NUMBERS.isalnum()

True

In [82]:
PAN_NUMBERS = "Kirti"
PAN_NUMBERS.isalnum()

True

In [83]:
PAN_NUMBERS = "KIRTI**WAGH"
PAN_NUMBERS.isalnum()

False